# Mac OS
.DS_Store

# IDE
*.iml
/local.properties

# .idea stuff to ignore
gradle.xml
workspace.xml
navEditor.xml
libraries.xml
modules.xml
misc.xml
assetWizardSettings.xml
kotlinc.xml
caches/
libraries/
dictionaries/
jarRepositories.xml
compiler.xml
deploymentTargetDropDown.xml

# vcs is going to change project to project
vcs.xml
